
  @import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@600&display=swap');

body{
    overflow: auto;
}

  .middle {

    width: 70%;
    margin: auto;

}

input[type="text"] {
    display: inline-block;
    border: 3px solid black;
    border-radius: 8px;
    height: 90px;
    width: 40%;
    /* margin:auto; */
    font-weight: bold;
    color: black;
    font-size: 20px;
    padding: 10px;
    margin: 10px;

}

input[type="text"]:hover{
    box-shadow: 1px 1px 1px 1px;
}
.search{
    font-weight: bold;
    color: black;
    font-size: 20px;
    padding: 26px;
    margin: 10px;
    width: 12%;
    height: 90px;
    border: 3px solid black;
    border-radius: 8px;
    display: inline-block;
    position: relative;
    top: -6px;
    cursor: pointer;
    text-align: center;
    background-color: rgb(196, 90, 88);
    box-shadow: 2px 2px 1px 1px;


}

.search:active{
    transition:all  ease-in-out 0s;
    box-shadow:1px 1px;

    }







*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.box{background-color: #ff8888;
    border: 2px solid black;
    border-radius: 6px;
    width: 47%;
    margin: 30px 10px;
    padding: 36px;
    position: relative;
    font-family: 'Gabarito', sans-serif;
    background-color: white(154, 153, 150);
    height: 125px;
    box-shadow: 0px 1px 1px 0px gray;

}

.main_box:hover{
    transition: all 0.5s ease-in-out;
    /* transform: translateY(-10px); */
    /* transform:scale(1.01) */
}
.main_box{
    background: #ffeaea;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
margin-top:40px}

.main_box h1{
    padding:10px;
    text-align: center;
    font-family: 'Gabarito', sans-serif;
}

.price{
    position:absolute;
    right:10px;
    top:7px;
}

.no{
    position:absolute;
    top:7px;
    left:10px;
}

.from{

font-size: 1.6rem;
}
.to{
    top: 42px;
    font-size: 1.6rem;
    position: absolute;
    left: 267px;
    

}

.box i{
    position:absolute;
    left:210px;
    top:44px;
    font-size: 1.6rem;

}

.date{
    position: absolute;
    right: 120px;
    top: 7px;
}

.book{
    border: 2px solid black;
    position: absolute;
    right: 10px;
    /* border: 2px solid black; */
    border-radius: 8px;
    background-color: rgb(196, 90, 88);
    padding: 8px;
    box-shadow: 2px 2px 0px 0px black;

    
}

.book:active{
    transition:all  ease-in-out 0s;
    box-shadow: 1px 1px ;

    
}

.book a{
    padding:10px;
    text-decoration:none;
    color:white;
    
}